<%= form_with(model: aplication, local: true) do |form| %>
  <% if aplication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(aplication.errors.count, "error") %> prohibited this aplication from being saved:</h2>

      <ul>
      <% aplication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.number_field :project_id %>
  </div>

  <div class="field">
    <%= form.label :developer_id %>
    <%= form.number_field :developer_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
