<head>
    <title>JumpStart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.png' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
  <header>
    <div class="top-nav">
      <div class="logo">
        <a href="/">
          <%= image_tag 'logo.png', class: 'logo' %>
        </a>
      </div>
      <div class="links">
        <% if developer_signed_in? %>
          <%= active_link_to 'MESSAGES', messages_path %>
          <%= active_link_to 'PROFILE', developer_path(current_developer.id) %>
          <%= active_link_to 'LOG OUT', destroy_developer_session_path, method: :delete %> 
        <% elsif employer_signed_in? %>
          <%= active_link_to 'MESSAGES', messages_path %>
          <%= active_link_to 'PROFILE', employer_path(current_employer.id) %>
          <%= link_to 'LOG OUT', destroy_employer_session_path, method: :delete %>
        <% else %> 
          <%= link_to 'LOGIN / SIGN UP', login_path %>
        <% end %>
      </div>
    </div>
    <div class="navigation-bar">
      <%= active_link_to 'PROJECTS', projects_path, class: "link" %>
      <%= active_link_to 'DEVELOPERS', developers_path, class: "link" %>
      <%= active_link_to 'EMPLOYERS', employers_path, class: "link" %> 
    </div>
    </header>
    <div class="main-container">
    <%= yield %>
    </div>

  <footer>
    © JUMPSTART
  </footer>
  </body>

